body {
    font-family: Arial, sans-serif;
    background: rgb(133,187,101);
    background: radial-gradient(circle, rgba(133,187,101,1) 0%, rgba(237,235,220,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.wallet-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px;
}

.balance, .purchase-section {
    margin-bottom: 20px;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: textfield; /* Estándar */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    margin: 0;
}

.transaction-history{
    margin-top: 20px;
    text-align: left;
    border: 1px solid blck;
}

.transaction-history h2{
    font-size: 18px;
    margin: 10px; 
    background-color: rgba(100, 95, 95, 0.1);
}

.transaction-history ul li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding:10px; 
    border-radius: 5px;
    font-style: italic;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}